@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

/*body*/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(31, 31, 31);
    color: rgb(230, 230, 230);
}

/*Left Side Heading*/

.side-bar {
    width: 40%;
    height: 100%;
    background-image: url(img/8753.jpg);
    background-size: cover;
   
}

.side-bar,
.form {
    border: 1px solid black;
}

/* Form styling*/

.form-section {
    width: 60%;
    height: 100%;
    margin-top: 100px;
}

form {
  height: 30%;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
  font-size: 20px;
  font-weight: bold;
}

.input {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    
}

.right {
    padding-left: 50px;
}

h1 {
    height: 30%;
    font-size: 25px;
}

h2 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    height: 25px;
    width: 250px;
    border-radius: 3px;
    border-color: rgb(205, 205, 206);
    display: flex;   
    font-size: 20px;
    
}


button {
    height: 40px;
    width: 200px;
    background-color: purple;
    color: white;
    font-weight: 800;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 5px;
    border: none;
}




/*Valid, invalid inputs*/

input:valid {
    border-color: green;
    background-color: lightgreen;
}

input:invalid {
    border-color: red;
    background-color: lightcoral;
}


