* {
    padding: 0;
    margin: 0;
}

root {

}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.side-bar,
.form {
    border: 3px solid black;
}

.side-bar {
    width: 40%;
    height: 100%;
    background-image: url(img/8753.jpg);
    background-size: cover;
   
}

.form-section {
    width: 60%;
    height: 100%;
    padding-left: 30px;
    margin: 20px;
    margin-top: 100px;
    
}

form {
  height: 30%;
  display: flex;
  flex-flow: row wrap;
  

}

.input {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

h1 {
    height: 30%;
}

input {
    height: 20px;
    width: 250px;
    border-radius: 3px;
    border-color: rgb(205, 205, 206);
    display: flex;

}

button {
    height: 30px;
    width: 200px;
    background-color: purple;
    color: white;
    font-weight: 800;
}

label {

}

.logo {
    
}

